<!DOCTYPE html>

<html>
	<head>
		<title>YUAG Collection Search</title>
		<link
			rel="stylesheet"
			type="text/css"
			href="{{ url_for('static', filename='styles.css') }}"
		/>
	</head>

	<body>
		<div class="heading">
			<hr />
			<h1>YUAG Collection Search</h1>
			<hr />
		</div>

		<div class="input-form">
			<div class="form-field">
				<label class="label-text">Label</label
				><input id="label-input" type="text" name="l" />
			</div>
			<div class="form-field">
				<label class="label-text">Classifier</label
				><input id="classifier-input" type="text" name="c" />
			</div>
			<div class="form-field">
				<label class="label-text">Agent</label
				><input id="agent-input" type="text" name="a" />
			</div>
			<div class="form-field">
				<label class="label-text">Department</label
				><input id="dep-input" type="text" name="d" />
			</div>
		</div>

		<div className="results">
			<hr />
			<p id="results"></p>
			<hr />
		</div>

		<div className="footer">
			Date and time: <span id="dateTime"></span><br />
			CPSC 419 Group #9 Solution
			<hr />
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src="{{ url_for('static', filename='script.js') }}"></script>
	</body>
</html>
